html, body {
      position: relative;
      height: 100%;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      color: #000;
      background-image: url("immagini/sfondosito.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
}

/*header*/

.headline{
  z-index: 3;
  margin-top: 30px;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #935931;
}
.navbar-toggler {
	width: 100%;
}

.casella-logo{
  display: inline-block;
  width: 50%;
}

.logo{
  width: 160px;
  margin-top: 15px;
}

/*menu*/


/***************************
 *	Variables
 **************************/
$font-family: 'Open Sans', sans-serif;
$font-size:   1em;

$color-body:  #e2e2e2;
$color-text:  #282828;
$color-menu:  #fcfcfc;

$variable-menu-animation-time:        1s;
$variable-burger-animation-time:      .35s;

$variable-menu-animation-function:    cubic-bezier(.25, .1, .25, 1);
$variable-burger-animation-function:  cubic-bezier(.68, -.55, .265, 1.55);

/***************************
 *	Project Main Styles
 **************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}

body {
  font-family:      $font-family;
  font-size:        $font-size;
  background-color: $color-body;
}

/***************************
 *	Application Main Styles
 **************************/
#menu--toggle[type="checkbox"]:not(:checked),
#menu--toggle[type="checkbox"]:checked {
  display: none;
}

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
  position: absolute;
  top: 1.6em;
  left: 1.6em;
  width: 2em;
  height: 5px;
  background-color: $color-text;
  border-radius: 2px;
  cursor: pointer;
  z-index: 100;
  transition: $variable-burger-animation-time $variable-menu-animation-function;
}

.menu--toggle__trigger {
  height: 2em;
  background: none;
}

.menu--toggle__burger {
  
  &:before {
    content: "";
    top: 10px;
    left: 0;
  }
  &:after {
    content: "";
    top: 20px;
    left: 0;
  }
}

.menu__body {
  position: absolute;
  width: 7em;
  height: 7em;
  margin: 0;
  padding: 0;
  background-color: $color-menu;
  border-bottom-right-radius: 100%;
  box-shadow: 3px 3px 7px rgba($color-text, .2);
  z-index: 10;
  animation: checkboxUncheckedAnimation $variable-burger-animation-time both;
}

.menu__body-element,
.menu__body-link {
  display: none;
  margin: 4.4em 0 -3.3em -.1em;
  font-weight: normal;
  color: $color-text;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
}

.menu__body-element {
  text-indent: 2em;
}

.menu__body-link:hover {
  display: block;
  width: 0;
  color: $color-text;
  background-color: $color-body;
  animation: changeWidthOfElementAnimation $variable-burger-animation-time both;
}

#menu--toggle:checked + .menu--toggle__trigger {
  
  & + .menu--toggle__burger {
    top: 35px;
    transform: rotate(405deg);
    transition: transform $variable-burger-animation-time $variable-burger-animation-function;
  
    &:before {
      top: 0;
      transform: rotate(-90deg);
      transition: transform $variable-burger-animation-time $variable-burger-animation-function;
    }
    &:after {
      top: 0;
      transform: rotate(90deg);
      transition: transform $variable-burger-animation-time $variable-burger-animation-function;
    }
  }
  
  & + .menu--toggle__burger + .menu__body {
    animation: checkboxCheckedAnimation $variable-menu-animation-time $variable-menu-animation-function both;
  }
  
  & ~ .menu__body .menu__body-element,
  & ~ .menu__body .menu__body-link {
    display: block;
  }
}

.promotion {
  width: 100vw;
  height: 100vh;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Gooseberry-spring.jpg/1280px-Gooseberry-spring.jpg');
  background-size: cover;
}

/**
 *	Animations
 *
 *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
 */
@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes changeWidthOfElementAnimation {
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.boxcarrello{
	float: right;
	align-content: right;
	margin-right: 20px;
}

/*swiper*/

.swiper {
  width: 100%;
  height: 90%;
  margin-top: -30px;
}

.swiper-slide {
  background: #DD925F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination{
	align-items: center;
}

/*intestazione home*/

h1 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  color: black;
  margin: 40px auto -30px auto;
  text-shadow: 0px 0px 6px rgba(255,255,255,10);
}


/*box prodotti*/

#box-prodotti{
  margin: 3% auto;
}

.card-img-top:hover {
    opacity: 0.5;  
  }

.navbar-toggler {
  background-color: red;
}


.btn-primary {
  background-color:#935931 !important;
  border-color:none;
}

/*footer*/

.footer {
  background-color: #935931;
  color: white;
  padding: 10px;
  
}

.contatti-social{
  display:inline-block;
  margin: 0px 30px;
}

#map {
  width: auto;
  height: 150px;
  margin-right:40px
}

.fot{
  display: inline-block;
  margin: 10px auto;
  vertical-align: top;
}

#rimandosocial{
  margin-left:20px ;
  padding-left:20px
}

.social{
  margin: 10px 30px 10px 0px;
  display: inline-block;
  color: white;

}

#testofooter{
  max-width: 500px;
  font-size: 12px;
  text-align: left;
  color: #FFE6AE;
}










/*carrello*/

#spazio-vuoto{
  width: 100%;
  height: 10%;
}

#intestazione-carrello {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  color: black;
  margin: 30px auto;
  text-shadow: 0px 0px 6px rgba(255,255,255,10);
}

h2 {
  text-align: center;
}

#cart-items {
  margin: 20px;
}

.cart-item {
  background-color: white;
  padding: 10px;
  margin: 0px auto 10px auto;
  width: 50%;
  text-align: right;
}

#cart-total {
  font-weight: bold;
  color: black;
}

#checkout-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #935931;
  color: white;
  border: none;
  cursor: pointer;
}

/*carrello*/
.headline-carrello{
  z-index: 3;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #935931;
}
